<mat-toolbar color="primary">
  <div class="container-fluid">
    <a [routerLink]="'/inicio'" mat-button class="navbar-brand">
      <mat-icon class="example-icon">tsunami</mat-icon>
      Sistema de Alertas del Servicio del Agua
    </a>
    <span class="spacer"></span>
    <ng-container *ngIf="userLoginOn">
      <button mat-button [matMenuTriggerFor]="menu" class="example-button">
        <mat-icon class="example-icon">arrow_drop_down</mat-icon>
        Bienvenido {{usuarioData?.nombre}} {{usuarioData?.apellidop}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Cerrar Sesión</button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>

