<p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
<div>
    <p><b>Nombre:</b> {{usuario?.nombre}} </p>
    <p><b>Apellido Paterno:</b> {{usuario?.apellidop}} </p>
    <p><b>Apellido Materno:</b> {{usuario?.apellidom}}</p>
    <p><b>Calle:</b>{{usuario?.calle}}</p>
    <p><b>Número Interior:</b> {{usuario?.numinterior}}</p>
    <p><b>Número Exterior:</b> {{usuario?.numexterior}}</p>
    <p><b>Colonia:</b> {{usuario?.colonia}}</p>
    <p><b>Ciudad:</b> {{usuario?.ciudad}}</p>
    <p><b>Código Postal:</b> {{usuario?.codigopostal}}</p>
    <p><b>Número de teléfono:</b> {{usuario?.telefonocasa}}</p>
    <p><b>Número de Celular:</b> {{usuario?.telefonomovil}}</p>
</div>